
<h1 align="center">Add a new Supervisor supervisor#new</h1>

<%=form_for(@supervisor) do |s|%>
<h2 align="center">Name : <%=s.text_field(:name)%> </h2>
<h2 align="center">Age : <%=s.text_field(:age)%> </h2>
<h2 align="center"><%=submit_tag("submit")%></h2>
<%end%>