<p>Google u r fucking Signed in</p>
<p>This is session_supervisors #  logedin</p>
<p>Name : <%=SignUppSupervisor.find(session[:sign_upp_supervisor_id]).email%></p>
<li><%= link_to "Log out", logout_path, method: "delete" %></li> 