<h1 align="center">You are now logged in as Supervisor</h1>
<h1 align="center">This is session_supervisors #  logedin</h1>
<h2 align="center">Name : <%=SignUppSupervisor.find(session[:sign_upp_supervisor_id]).email%></h2>
<h2 align="center"><%= link_to "Log out", logout_path, method: "delete" %></h2> 