<h1>lo bhenchod sign_up </h1>
<%= link_to 'Home', prithi_path(@path) %><br>
<%= link_to 'about_us', about_us_path(@path) %><br>
<%= link_to 'contact_us', contact_us_path(@path) %>
<%= link_to 'sign_up', sign_up_path(@path) %>
