<h1 align="center">This is Sign In page SignIn#index</h1>
<p align="center">Turiya Turiya jaanda mere mode te bandook ve</p>


<div id="user_nav">
    <hr color="blue">
    <h1 align="center">Guard</h1>
  <% if guard_signed_in? %>
    <h2 align="center">Signed in as <%= current_guard.email %>. Not you? </h1>
    <h2 align="center"><%= link_to "Sign out", destroy_guard_session_path, :method => :delete %></h1>
  <% else %>
    <h2 align="center"><%= link_to "Sign up", new_guard_registration_path %> or <%= link_to "sign in", new_guard_session_path %></h1>
  <% end %>
  <hr color="blue">
</div>
