<p align="center">Chithi aayi hai, watan se chithi aayi hai Admin ke liye</p>
<p align="center">This is session_admnins #  logedin</p>
<p align="center">Name : <%=SignUpp.find(session[:sign_upp_id]).email%></p>


<p align="center"><%= link_to "Log out", logout_path, method: "delete" %></p> 