<p>Google u r fucking Signed in</p>
<p>This is session_admnins #  logedin</p>
<p>Name : <%=SignUpp.find(session[:sign_upp_id]).email%></p>
<li><%= link_to "Log out", logout_path, method: "delete" %></li> 